body {
  margin: 0;
  background-color: #086788;
  font-family: 'Gowun Batang', serif;;
}

section {
  height: 500px;
  border: solid black 1px;
}

.main {
  height: 100vh;
  color: white;
}

ul {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    list-style-type: none;
    padding: 0;
}

li {
    text-decoration: none;
}

.main-div {
    display: flex;
    height: 88vh;
    justify-content: center;
    align-items: center;

    
}

#main-img {
    border-radius: 50%;
    max-height: 400px;
}

footer {
    height: 150px;
}
