body {
  margin: 0;
  padding: 0;
  /* width: 100vw; */
  background-color: #032b43;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}


footer {
  height: 150px;
}

@media only screen and (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    /* width: 100vw; */
    background-color: #032b43;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }

  section {
    height: 500px;
    /* border: solid black 1px; */
  }

  footer {
    height: 150px;
  }
}
