@media only screen and (max-width: 767px) {
  .section-projects {
    margin-bottom: 40px;
  }

  .project {
    /* height: 260.5px;
    width: 255px; */
    border: solid black 1px;
    border-radius: 25px;
    color: white;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
  }

  .front {
    backface-visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .front img {
    width: 100%;
    height: 80%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
  }

  .back {
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }

  .project:hover {
    transform: rotateY(180deg);
  }
}
