@media only screen and (max-width: 767px) {
  .section-projects {
      margin-bottom: 40px;
  }

  .project {
    color: white;
    margin: 10px;
    border: solid black 1px;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .project img {
    width: 100%;
    height: 50%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
  }
}
